body {
  display: flex;
  margin: 0;
  background-color: $theme-darker-purple;
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

// Grid

.mdc-layout-grid {
  margin-top: 56px;
}

@media(min-width: 600px) {
  .mdc-layout-grid {
    margin-top: 64px;
  }
}

// Buttons

.mdc-button:hover::before {
    opacity: 0.15;
}

.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled){
  @include theme-primary-gradient(left);
}

.mdc-fab {
  @include theme-secondary-gradient(left);
}

.mdc-button--outlined:not(:disabled) {
  border-color: $theme-pastel-purple;
}

// Text Field

.mdc-text-field--filled.mdc-ripple-upgraded--background-focused .mdc-text-field__ripple::before, .mdc-text-field--filled:not(.mdc-ripple-upgraded):focus .mdc-text-field__ripple::before {
  opacity: 0.05;
}

// Top app bar

.mdc-top-app-bar {
  background-color: $theme-dark-purple;
  align-items: center;
}

.mdc-top-app-bar__row {
  max-width: $mdc-layout-grid-max-width;
  padding: 0 10px;
}

.mdc-top-app-bar__custom-title-container {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  .mdc-top-app-bar__custom-title-container-logo {
    height: 80%;
  }

  .mdc-top-app-bar__custom-title-container-texts {
    display: flex;
    flex-direction: column;
  }

  .mdc-top-app-bar__title--custom-title {
    line-height: initial;
  }

  .mdc-top-app-bar__title--custom-subtitle {
    line-height: initial;
    font-size: 0.8em;
    transition: color 0.2s ease;
  }
}

.mdc-top-app-bar__custom-title-container:hover .mdc-top-app-bar__title--custom-subtitle {
  color: $theme-orange;
}

.mdc-top-app-bar .mdc-button {
  margin-left: 20px;
}

.mdc-top-app-bar__custom-menu {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  height: 100%;
  display: flex;
  align-items: center;

  .material-icons {
    font-size: 18px;
    margin-right: 6px;
  }

  &:before {
      content: "";
      position: absolute;
      bottom: 6px;
      left: 0;
      width: 100%;
      -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
      transform-origin: right center;
      height: 2px;
      background: $theme-orange;
      background: -webkit-linear-gradient(to right, $theme-orange, $theme-pink) !important;
      background: linear-gradient(to right, $theme-orange, $theme-pink) !important;
      -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
      transform: scale(0, 1);
      -webkit-transition: -webkit-transform 0.2s ease;
      transition: -webkit-transform 0.2s ease;
      transition: transform 0.2s ease;
      transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  }

  &:hover {
      &:before {
          -webkit-transform-origin: left center;
          -ms-transform-origin: left center;
          transform-origin: left center;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          transform: scale(1, 1);
      }
  }
}


@media(min-width: $theme-drawer-width-threshold) {
  .mdc-top-app-bar__action-item--drawer-toggle {
    display: none;
  }
}

@media(max-width: $theme-drawer-width-threshold) {
  .mdc-top-app-bar__custom-menu {
    display: none;
  }
  .mdc-top-app-bar .mdc-button {
    display: none;
  }
}

// Lists

.mdc-list-divider {
  border: none;
}

// Drawer

.mdc-drawer--modal + .mdc-drawer-scrim {
  background-color: rgba(0, 0, 0, 0.5);
}

.mdc-drawer {
  border: none;
  background-color: $theme-darker-purple;

  .mdc-list-item--gradient {
    @include theme-primary-gradient(left);
  }

  .mdc-list-item {
    margin: 8px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

  .mdc-list-item__graphic {
      margin-right: 12px;
  }

}

// Dialog

.mdc-dialog .mdc-dialog__scrim {
  background-color: rgba(0, 0, 0, 0.5);
}

// Menu

.mdc-menu {
  .mdc-list-item {
      height: 32px;
      align-items: center;
  }
  .mdc-list-item__text {
      margin: 0 12px;
  }
  .mdc-list-item__graphic {
      font-size: 20px;
  }
}
