/* MDC Theme */
@use "@material/theme" with (
  $primary: #a872ff,
  $secondary: #fb336e,
  $background: #120031,
  $surface: #281b42,
  $on-surface: #ffffff,
);

/* Theme Colors */
$theme-purple: #7F00FF;
$theme-dark-purple: #250063;
$theme-darker-purple: #120031;
$theme-pastel-purple: #a872ff;
$theme-greyed-purple: #281b42;
$theme-blue: #3f00fc;
$theme-orange: #f0ba3a;
$theme-pink: #fb336e;

/*  Typography */
@import url('https://fonts.googleapis.com/css?family=Cabin:100,200,300,400,500,700');
$mdc-typography-font-family: unquote("Cabin, sans-serif");

/* Layout */
$mdc-layout-grid-max-width: 1500px;
$theme-drawer-width-threshold: 840px;

// Non-MDC Theme

@mixin theme-primary-gradient($direction) {
    background: $theme-pastel-purple;
    background: -webkit-linear-gradient(to $direction, $theme-purple, $theme-blue) !important;
    background: linear-gradient(to $direction, $theme-purple, $theme-blue) !important;
}

@mixin theme-secondary-gradient($direction) {
    background: $theme-orange;
    background: -webkit-linear-gradient(to $direction, $theme-orange, $theme-pink) !important;
    background: linear-gradient(to $direction, $theme-orange, $theme-pink) !important;
}
